# Aliases file

# convert md to pdf
pandoc_md2pdf() {
    /usr/bin/pandoc $1.md --latex-engine=xelatex -o $1.pdf
}
pandoc_md2pdf_open() {
    pandoc_md2pdf $1
    xdg-open $1.pdf
}
alias md2pdf='pandoc_md2pdf'
alias md2pdfopen='pandoc_md2pdf_open'

# ack alias
alias ack="/usr/bin/ag"

# Alias for IRC
alias irc="ssh ircserver -t 'export TERM=xterm && tmux attach'"
alias slack="irssi"

# Alias for drive-goole
alias gdrive="drive-google"

# Virtualbox
alias vboxhdls="VBoxManage startvm --type headless"
alias vboxpwroff="VBoxManage controlvm poweroff"
alias vboxrst="VBoxManage controlvm reset"
alias vboxctrl="VBoxManage controlvm"
alias vboxlst="VBoxManage list vms"
alias vboxlstrun="VBoxManage list runningvms"

# composer alias
composer() {
    tty=
    tty -s && tty=--tty
    docker run \
        $tty \
        --interactive \
        --rm \
        --user $(id -u):$(id -g) \
        --volume ~/.composer/:/composer \
        --volume $(pwd):/app \
        composer "$@"
}

# codeception alias with docker container
alias codecept='docker run -it --rm -v $(pwd):/code -w /code --user $(id -u):$(id -g) php:7.0-cli /code/vendor/bin/codecept'

# flatpak aliases
alias skype="flatpak run com.skype.Client"

# ssh keys
sadd() {
    ssh-add ~/.ssh/$@
}

srm() {
    ssh-add -d ~/.ssh/$@
}

scl() {
    ssh-add -D
}

# Load local aliases
if [[ -a ~/.aliases_local ]]; then
    source ~/.aliases_local
fi
