# Aliases file

# Alias for IRC
alias irc="ssh ircserver -t 'export TERM=xterm && tmux attach'"

# composer alias
composer() {
    tty=
    tty -s && tty=--tty
    docker run \
        $tty \
        --interactive \
        --rm \
        --user $(id -u):$(id -g) \
        --volume ~/.composer/:/composer \
        --volume $(pwd):/app \
        composer "$@"
}

# codeception alias with docker container
alias codecept='docker run -it --rm -v $(pwd):/code -w /code --user $(id -u):$(id -g) php:7.2-cli-alpine /code/vendor/bin/codecept'

# Load local aliases
if [[ -a ~/.aliases_local ]]; then
    source ~/.aliases_local
fi

# reset TERM for ssh connections
alias ssh="TERM=xterm-color ssh"

alias k="kubectl"
alias kdbgpod="kubectl run -i --tty --rm debug-pod-slax0r --image=alpine --restart=Never -- sh"

# vim shortcuts in terminal.. because I type them mistakingly when I want to open a file or exit a terminal
alias :e="vim"
alias :q="exit"

# swagger
alias swaggerd="docker run --rm -it  --user $(id -u):$(id -g) -e GOPATH=$HOME/dev/projects/go:/go -v $HOME:$HOME -w $(pwd) quay.io/goswagger/swagger"
