XTerm*utf8: 1
xterm*faceName: Hack:size=9:antialias=true
XTerm*metaSendsEscape: true
XTerm*pointerColor: white
XTerm*pointerColorBackground: black
XTerm*selectToClipboard: true
XTerm*on3Clicks: regex [^ \n]+
*VT100*translations: #override Shift <Btn1Up>: exec-formatted("xdg-open '%t'", CLIPBOARD)
XTerm*SaveLines: 10000
XTerm*ScrollBar: false
XTerm*ScrollKey: true
XTerm*visualbell: true
XTerm*bellIsUrgent: true
XTerm*cursorBlink: false

! special
XTerm*.foreground:   #ab9bab
XTerm*.background:   #1b181b
XTerm*.cursorColor:  #ab9bab

! black
XTerm*.color0:       #1b181b
XTerm*.color8:       #776977

! red
XTerm*.color1:       #ca402b
XTerm*.color9:       #ca402b

! green
XTerm*.color2:       #379a37
XTerm*.color10:      #379a37

! yellow
XTerm*.color3:       #bb8a35
XTerm*.color11:      #bb8a35

! blue
XTerm*.color4:       #516aec
XTerm*.color12:      #516aec

! magenta
XTerm*.color5:       #7b59c0
XTerm*.color13:      #7b59c0

! cyan
XTerm*.color6:       #159393
XTerm*.color14:      #159393

! white
XTerm*.color7:       #ab9bab
XTerm*.color15:      #f7f3f7
