!! Set the font to PragmataPro.
*font                           : PragmataProMono:size=10
dmenu.font                      : xft:PragmataProMono:size=10:antialias=true:autohint=false

XTerm*.allowBoldFonts           : true
XTerm*.bellIsUrgent             : true
XTerm*.cutNewline               : true
XTerm*.faceName                 : PragmataProMono
XTerm*.faceSize                 : 10
XTerm*.fullscreen               : never
XTerm*.internalBorder           : 0
XTerm*.renderFont               : true
XTerm*.termName                 : xterm-256color
XTerm*.utf8                     : always
XTerm*.utf8Fonts                : always
XTerm*.visualBell               : false
XTerm*.visualBellLine           : false
XTerm*pointerColor              : white
XTerm*pointerColorBackground    : black
XTerm*selectToClipboard         : true
XTerm*on3Clicks                 : regex [^ \n]+
XTerm*SaveLines                 : 10000
XTerm*ScrollBar                 : false
XTerm*ScrollKey                 : true
XTerm*cursorBlink               : false
XTerm*scaleHeight               : 1.05
XTerm*eightBitInput             : false
*VT100*translations             : #override Shift <Btn1Up>: exec-formatted("xdg-open '%t'", CLIPBOARD)

!colors
#define base00 #1b181b
#define base01 #292329
#define base02 #695d69
#define base03 #776977
#define base04 #9e8f9e
#define base05 #ab9bab
#define base06 #d8cad8
#define base07 #f7f3f7
#define base08 #ca402b
#define base09 #a65926
#define base0A #bb8a35
#define base0B #918b3b
#define base0C #159393
#define base0D #516aec
#define base0E #7b59c0
#define base0F #cc33cc

!old colors - until I decide which to use
!#define base00 #272822
!#define base01 #383830
!#define base02 #49483e
!#define base03 #75715e
!#define base04 #a59f85
!#define base05 #f8f8f2
!#define base06 #f5f4f1
!#define base07 #f9f8f5
!#define base08 #f92672
!#define base09 #fd971f
!#define base0A #f4bf75
!#define base0B #a6e22e
!#define base0C #a1efe4
!#define base0D #66d9ef
!#define base0E #ae81ff
!#define base0F #cc6633

XTerm*.foreground:   base07
XTerm*.background:   base00
XTerm*.cursorColor:  base07

XTerm*.color0:       base00
XTerm*.color1:       base08
XTerm*.color2:       base0B
XTerm*.color3:       base0A
XTerm*.color4:       base0D
XTerm*.color5:       base0E
XTerm*.color6:       base0C
XTerm*.color7:       base05

XTerm*.color8:       base03
XTerm*.color9:       base09
XTerm*.color10:      base01
XTerm*.color11:      base02
XTerm*.color12:      base04
XTerm*.color13:      base06
XTerm*.color14:      base0F
XTerm*.color15:      base07

XTerm*.color16:      base09
XTerm*.color17:      base0F
XTerm*.color18:      base01
XTerm*.color19:      base02
XTerm*.color20:      base04
XTerm*.color21:      base06
