!! Set the font to PragmataPro.
*font                           : PragmataProMono:size=11
dmenu.font                      : xft:PragmataProMono:size=11:antialias=true:autohint=false

XTerm*.allowBoldFonts          : true
XTerm*.bellIsUrgent            : true
XTerm*.cutNewline              : true
XTerm*.faceName                : PragmataProMono
XTerm*.faceSize                : 11
XTerm*.fullscreen              : never
XTerm*.internalBorder          : 0
XTerm*.renderFont              : true
XTerm*.termName                : xterm-256color
XTerm*.utf8                    : always
XTerm*.utf8Fonts               : always
XTerm*.visualBell              : false
XTerm*.visualBellLine          : false
XTerm*pointerColor             : white
XTerm*pointerColorBackground   : black
XTerm*selectToClipboard        : true
XTerm*on3Clicks                : regex [^ \n]+
XTerm*SaveLines                : 10000
XTerm*ScrollBar                : false
XTerm*ScrollKey                : true
XTerm*cursorBlink              : false
XTerm*scaleHeight              : 1.05
XTerm*eightBitInput            : false
*VT100*translations             : #override Shift <Btn1Up>: exec-formatted("xdg-open '%t'", CLIPBOARD)

! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6

!colors - base 16
!#define base00 #1b181b
!#define base01 #292329
!#define base02 #695d69
!#define base03 #776977
!#define base04 #9e8f9e
!#define base05 #ab9bab
!#define base06 #d8cad8
!#define base07 #f7f3f7
!#define base08 #ca402b
!#define base09 #a65926
!#define base0A #bb8a35
!#define base0B #918b3b
!#define base0C #159393
!#define base0D #516aec
!#define base0E #7b59c0
!#define base0F #cc33cc
!
!! colors - base 16
!XTerm*.foreground:   base07
!XTerm*.background:   base00
!XTerm*.cursorColor:  base07
!
!XTerm*.color0:       base00
!XTerm*.color1:       base08
!XTerm*.color2:       base0B
!XTerm*.color3:       base0A
!XTerm*.color4:       base0D
!XTerm*.color5:       base0E
!XTerm*.color6:       base0C
!XTerm*.color7:       base05
!
!XTerm*.color8:       base03
!XTerm*.color9:       base09
!XTerm*.color10:      base01
!XTerm*.color11:      base02
!XTerm*.color12:      base04
!XTerm*.color13:      base06
!XTerm*.color14:      base0F
!XTerm*.color15:      base07
!
!XTerm*.color16:      base09
!XTerm*.color17:      base0F
!XTerm*.color18:      base01
!XTerm*.color19:      base02
!XTerm*.color20:      base04
!XTerm*.color21:      base06
