[Steam]
row=7
col=0

[73 GB Volume]
row=3
col=0

[570 GB Volume]
row=5
col=0

[214 GB Volume]
row=4
col=0

[FireStorage]
row=6
col=0

[Wastebasket]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=0
col=0

