[Plex Media Manager]
row=6
col=0

[Chromium Web Browser]
row=5
col=0

[73 GB Volume]
row=3
col=0

[Data]
row=4
col=0

[Debian 8.6.0 amd64 1]
row=7
col=0

[Wastebasket]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=0
col=0

